/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


input, select {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  padding: 3px 5px;

  &[type="checkbox"] {
    width: 16px;
    cursor: pointer;

    + label {
      cursor: pointer;
    }
  }

  &.ng-invalid.ng-dirty {
    border: 1px solid #ff4d4f;
  }
}

button {
  outline: none;
  height: 30px;
  background: #40a9ff;
  color: white;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

label {
  display: inline-block;
  margin: auto 0 auto 5px;
  vertical-align: baseline;
}

