:host {
  width: 100%;
  padding: 0 30px;
  display: flex;
}

.form-wrap {
  width: 100%;
  margin: auto;
  background: #f5f5f5;
  padding: 30px 15px;

  @media screen and (max-width: 1280px) {
    max-width: 600px;
  }

  .form {
    display: flex;
    justify-content: space-between;

    .form-control {
      display: flex;
      width: 100%;
      margin: 0 15px 15px 0;

      &.small {
        width: 100px;
      }

      input:not([type="checkbox"]), select {
        width: 100%;
        outline: none;
      }
    }


    @media screen and (max-width: 1280px) {
      display: block;
    }
  }

}
