<div class="form-wrap">
  <form (submit)="submit()" [formGroup]="form">

    <div class="form">
      <div class="form-control">
        <input type="number" formControlName="number">
      </div>
      <div class="form-control">
        <select formControlName="select">
          <option *ngFor="let o of options | async" [value]="o.id">{{o.title}}</option>
        </select>
      </div>
      <div class="form-control small">
        <input type="checkbox" id="check" formControlName="check">
        <label for="check">Согласен</label>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Далее</button>
  </form>
</div>
